.detalle-producto{
    position: relative;
	padding: 12.8rem 0 4.4rem;
	@include mediaTablet{
		padding: 15rem 0 4.8rem;
	}
    &__header {
        background-color: white;
		&__img{
			img{
				width: 100%;
				height: auto;
			}
			@include mediaDesktop{
				position: absolute;
				left: 0;
			}
		}
		&__info{
			position: relative;
		}
		@include mediaTablet{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			&__img,
			&__info{
				width: 50%;
			}
			&__img{
			    padding: 0 4.8rem;
			}
		}
		@include mediaDesktop{
			&__info{
			    margin-left: 50%;
			}
		}
    }
	&__info{
		@include mediaDesktop{
			margin-left: 50%;
			width: 50%;
			margin-top: 2.4rem;
		}
	}
    &__name{
		font-weight: bold;
	    font-size: 2.6rem;
	    line-height: 3.6rem;
	    margin: 0;
	    margin-right: 12rem;
	    padding-bottom: 2.2rem;
		@include mediaTablet{
			font-size: 2.6rem;
		}
		@include mediaDesktop{
			padding-bottom: 4.8rem;
		}
    }
    &__precio{
		font-size: 1.6rem;
	    line-height: 3.6rem;
	    font-family: 'Bitter', serif;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 12rem;
	    text-align: right;
		@include mediaTablet{
			font-size: 2rem;
		}
    }
	&__llamanos{
		padding-top: 1.1rem;
	    border-top: 1px solid #9B9B9B;
	    height: 8rem;
	    text-align: right;
		.number{
			margin-right: 2.2rem;
		}
		@include mediaMobile{
			padding-top: 1.2rem;
			margin-right: 2.4rem;
		}
		@include mediaTablet{
			font-size: 1.6rem;
		}
	}
	&__productor{
		position: relative;
	    padding: 2.2rem;
	    padding-top: 0;
		color: #000;
		@include mediaTablet{
			padding: 2.4rem 4.8rem;
			padding-top: 0;
		}
		&__person{
			position: absolute;
		    left: 2.2rem;
		    top: 0;
		    width: 4.4rem;
		    height: 4.4rem;
		    border-radius: 50%;
		    overflow: hidden;
			img{
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
			@include mediaTablet{
				left: 4.8rem;
				width: 4.8rem;
				height: 4.8rem;
			}
		}
		&__name{
			display: inline-block;
		    margin-left: 6.6rem;
		    font-weight: 400;
		    font-style: italic;
			text-decoration: underline;
			@include mediaDesktop{
				text-decoration: none;
			}
			.detalle-producto__productor:hover &{
				font-weight: 400;
				text-decoration: underline;
				font-size: italics;
			}
		}
	}
	&__share{
		margin-top: 4.4rem;
		position: relative;
		text-align: right;
		span{
			display: inline-block;
		}
		&__hidden{
			display: none;
			position: absolute;
		    left: 5.5rem;
		    bottom: 0;
			.button{
				opacity: 0;
				visibility: hidden;
				@include translate(0, -1rem);
				@include transition(all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94));
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
			}
			.button.active{
				opacity: 1;
				visibility: visible;
				@include translate(0, 0);
			}
			@include mediaTablet{
				left: 6rem;
			}
		}
	}
	&__social{
		display: inline-block;
		margin-top: 1.1rem;
		@include mediaTablet{
			margin-top: 1.2rem;
		}
	}
    &__desc{
        font-size: 16px;
    }
    &__content{
        display: flex;
        flex: auto;
        &__prod{
            margin: 0 5px;
			margin: 0;
			padding: 0;
			list-style: none;
            text-align: center;
			img{
				height: 2.2rem;
				width: 2.2rem;
			}
            p{
                font-size: 14px;
                font-family: Bitter;
            }
        }
    }
	&__accordion{
		margin: 4.4rem 0;
		@include mediaTablet{
			margin-top: 0;
		}
		&__item{
			background-color: #f2f2f2;
			border-bottom: 1px solid #fff;
		}
		&__header{
			padding: 2.2rem;
			font-family: 'Bitter', serif;
			font-weight: bold;
			position: relative;
			@include mediaTablet{
				padding: 2.4rem 4.8rem;
			}
		}
		&__toggle{
			position: absolute;
		    right: 0;
		    top: 0;
		    padding: 2rem;
			i{
				font-size: 2.2rem;
				line-height: 2.2rem;
				@include transition(all 0.3s ease-out);
				@include rotate(0deg);
				.active &{
					@include rotate(180deg);
				}
			}
			@include mediaTablet{
				display: none;
			}
		}
		&__body{
			font-size: 1.4rem;
			display: none;
			@include mediaTablet{
				display: block;
			}
		}
		&__text{
			padding: 2.2rem;
			padding-top: 0;
			@include mediaTablet{
				padding: 2.4rem 4.8rem;
				padding-top: 0;
			}
		}
	}
	// @include mediaDesktop{
	// 	&__flexlg{
	// 		display: flex;
	// 		flex-direction: row;
	// 		justify-content: flex-start;
	// 		flex-wrap: nowrap;
	// 		&__side{
	// 			width: 50%;
	// 			background-color: #f2f2f2;
	// 			&:nth-child(2){
	// 				border-left: 2px solid #fff;
	// 			}
	// 			&:nth-child(1){
	// 				.detalle-cesta__accordion__item:nth-child(1){
	// 					border-bottom: 2px solid #fff;
	// 				}
	// 				.detalle-cesta__accordion__item:nth-child(2){
	// 					border-bottom: 0;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
