.legal{
    padding: 10rem 0;
	&__title{
		color: #000;
		margin: 4.4rem 0 2.2rem;
		font-size: 3rem;
		line-height: 4rem;
		font-weight: 300;
	}
	&__text{
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
	@include mediaTablet{
		&__title{
			font-size: 3.6rem;
			line-height: 4.6rem;
			margin: 4.8rem 0 2.4rem;
		}
	}
}
