.mislistas__tabla__row{
    border-bottom: 1px solid #CFCFCF;
    width: 90%;
    margin: 0 auto;
}
.volver2{
    margin-left: 1.5rem;
}
.mislistas__tabla__col{
    width: 50%;
    background-color: #fff;
    &:nth-child(2){
        text-align: right;
    }
}
.mispedidos__tabla__row--header1{
    padding: 0 2rem;
}
