.productos{
	&--container{
		display: flex;
		justify-content: space-between;
	}
	&__content{
		@include mediaTablet{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 2.4rem;
		}
		@include mediaDesktop{
			width: 84%;
			margin-top: 1.2rem;
		}
	}
	&__item{
	    padding-left: 0.5rem;
	    padding-right: 0.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		@include mediaTablet{
			width: 50%;
		}
		@include mediaDesktop{
			width: 33.33%;
		}
		@include mediaDesktopLarge{
			width: 25%;
		}
	}
}
