.producers{
	padding: 0 0 4rem;
	&__hero{
		background-image: url('../images/productores_mobile.jpg');
		background-position: center;
		background-size: cover;
		@include mediaTablet{
			background-image: url('../images/productores_desktop.jpg');
		}
	}
	&__content{
		position: relative;
		display: flex;
	  	flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2.2rem;
		@include mediaTablet{
			margin-top: 2.2rem;
		}
	}
	&__item{
		width: 100%;
		margin-bottom: 1rem;
		margin-top: 1rem;
		@include mediaTablet{
			width: 48%;
		}
		@include mediaDesktop{
			width: 24%;
		}
	}
	&__map{
		position: relative;
		padding: 2.2rem 0;
		margin-bottom: 2.2rem;
		#map {
			height: 22rem;
			width: 100%;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: transparent;
				cursor: pointer;
			}
			&.clicked:after{
				display: none;
			}
		}
		@include mediaTablet{
			padding: 2.4rem 0;
			#map {
				height: 28.8rem;
			}
		}
		@include mediaDesktop{
			margin-bottom: 2.4rem;
			#map {
				height: 36rem;
			}
		}
	}
}
